{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>{{template "title" .}} | Assignment1 Test Case</title>
    <style>
      textarea {
        resize: vertical;
      }
      label {
        font-weight: bold;
      }
      :root {
        --danger: #ff1a1a;
        --success: #0070f3;
      }
    </style>
    <script>
      (function (e, t, n, i, s, a, c) {
        e[n] =
          e[n] ||
          function () {
            (e[n].q = e[n].q || []).push(arguments);
          };
        a = t.createElement(i);
        c = t.getElementsByTagName(i)[0];
        a.src = s;
        c.parentNode.insertBefore(a, c);
      })(
        window,
        document,
        "galite",
        "script",
        "https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js"
      );

      galite("create", "305443376", "auto");
      galite("send", "pageview");
    </script>
  </head>
  <body>
    <header>
      <h1><a href="/">Assignment1</a></h1>
      <p>
        Bộ chấm bài
        <a
          target="_blank"
          href="http://e-learning.hcmut.edu.vn/pluginfile.php/1969519/mod_resource/content/9/_212_CO1027__Assignment_1-2.pdf"
          >assignment1</a
        >
        lớp CO1027 - KTLT. <a href="/check">Chấm bài</a> |
        <a href="/upload">Upload test case</a>
      </p>
    </header>
    <main>{{template "main" .}}</main>
    <footer>
      <p>© 2022. Made by <a href="https://hoangvvo.com/">Hoang</a>.</p>
    </footer>
  </body>
</html>
{{end}}
