{{template "base" .}} {{define "title"}}Check{{end}} {{define "main"}}
<h2>Chấm bài</h2>
<form id="form" method="post" action="/check">
  <div>
    <div>
      <label for="answer-filename">Tên file</label>
      <p>Ví dụ: nếu là Assignment1, nhập <code>studyInPink2.h</code>.</p>
      <input
        autocomplete="on"
        id="answer-filename"
        name="answer-filename"
        required
      />
    </div>
    <div>
      <label for="answer">Bài làm</label>
      <p>
        Nhập code của file có tên ở trên. Bài làm sẽ được xóa sau khi xử lý
        xong.
      </p>
      <textarea id="answer" name="answer" rows="6" required></textarea>
    </div>
  </div>
  <div style="margin-top: 24px">
    <label>Bộ test case</label>
    <p>Chọn bộ test case để sử dụng.</p>
    <select id="select-suite" name="suite" required>
      <option hidden disabled selected value>(Chọn một bộ test)</option>
      {{ range .Suites }}
      <option value="{{ .Name }}">{{ .Name }} ({{ .Total }} test cases)</option>
      {{ end }}
    </select>
  </div>
  <button>Compile</button>
</form>
{{ if .Error }}
<div id="error">
  <p>Không thể chạy test!</p>
  <pre>{{ .Error }}</pre>
</div>
{{ end }}
<style>
  #error p {
    color: var(--danger);
  }
  #error pre {
    height: 300px;
    overflow: auto;
    padding: 10px;
    background-color: var(--background);
  }
</style>
<script>
  let loading = false;
  const form = document.querySelector("#form");
  form.onsubmit = function submit(event) {
    if (event.target.suite) {

    }
    if (loading === true) {
      event.preventDefault();
    } else {
      loading = true;
      NProgress.start();
    }
  };
</script>
{{end}}
