{{template "base" .}} {{define "title"}}Home{{end}} {{define "main"}}
<h2>Home</h2>
<h3>Chấm bài</h3>
<a href="/check">Check</a>
<h3>Upload bộ test</h3>
<p><a href="/upload">Upload</a></p>
<h3>Giới thiệu</h3>
<p>
  Bộ chấm bài lớp CO1027 - KTLT. Bộ test tự upload bởi người dùng / hỗ trợ chấm
  các bài tập lớn khác nhau (theo tên file) nên có thể dùng cho nhiều năm sau :)
</p>
<p>
  Nếu có điều kiện các bạn có thể
  <a href="https://github.com/hoangvvo/hcmut-co1027/blob/main/DONATE.md"
    >donate</a
  >
  cho mình để chi trả chi phí server.
</p>
<p>Cảm ơn và chúc các bạn làm bài tốt!</p>
{{end}}
